#details{
	.container{
		display: flex;
		flex-direction: column;
		row-gap: var(--size_rem_4);
	}
	.container_content{
		display: flex;
		flex-direction: column;
		gap: var(--size_rem_8);
		justify-content: center;
		@media screen and (min-width : v.$lg-breakpoint ) {
			flex-direction: row;
		}
	}
	.wrapper_img{
		display: flex;justify-content: center;
		flex-basis: 35%;
	}
	.wrapper_box{
		display: flex;
		gap:var(--size_rem_2);
	}
	.element_box{
		display: flex;
		border-radius: var(--size_rem_1);
		padding: var(--size_rem_2);
		flex-basis: 50%;
		background-color: var(--bg_color03);
		justify-content: space-between;
	}
	.wrapper_content{
		display: flex;
		flex-direction: column;
		flex-basis: 65%;
		row-gap: var(--size_rem_4);
		.wrapper_text{
			p{
				font-size: var(--text_size04);
			}
		}
	}
	img{
		border-radius:  1rem;
		max-width: 35rem;
		width: var(--stg_100);
	}
	.wrapper_buttons{
		display: flex;
	}
}