#home {
	.container {
		display: flex;
		justify-content: space-between;
	}

	h1 {
		font-size: var(--title_size10);
	}
	.typing_effect{
		p{
			font-size: var(--text_size08);
			color : var(--text_color01);
		}
	}
	.container_current {
		.wrapper {
			background-color: var(--background_color05);
			padding: var(--size_rem_2);
			min-width: 25vw;
			border: var(--border_color01);
			display: flex;
			flex-direction: column;
			row-gap: var(--size_rem_2);
			border-radius: var(--size_rem_1);
		}

		.row_title {
			display: flex;
			column-gap: var(--size_rem_05);
		}

		.element_svg {
			display: flex;
			column-gap: var(--size_rem_2);
			align-items: center;
		}

		.element_title {
			display: flex;
			justify-content: space-between;
		}

		p {
			text-decoration: underline;
			font-size: var(--paragraph_size04);
		}

		button {
			display: flex;
			column-gap: var(--size_rem_1);

		}
		
	}
}