#projects {
	.wrapper {
		display: flex;
		flex-direction: column;
		row-gap: var(--size_rem_1);
	}

	span {
		display: inline-flex;
		column-gap: var(--size_rem_05);
		padding: 0.25rem 0.6rem;
		border-radius: var(--size_rem_05);
	}

	.react_span {
		background-color: var(--background_color06);
		color: var(--text_color08);
	}

	.sass_span {
		color: var(--text_color07);
		background-color: var(--background_color07);
	}

	.nodejs_span {
		color: var(--text_color09);
		background-color: var(--background_color08);
	}

	.element {
		display: flex;
		column-gap: var(--size_rem_1);
	}

	.project_container {
		display: flex;
		flex-wrap: wrap;
		gap: var(--size_rem_2);

	}

	.project-wrapper {
		display: flex;
		flex-direction: column;
		flex-basis: 45%;
		background-color: var(--bg_color02);
		border-radius: var(--size_rem_1);
		img {
			width: 40rem;
		}
	}
}