#display-mode{
	.switch {
		--secondary-container: #505050;
		--primary: #e2e2e2;
		font-size: 17px;
		position: relative;
		display: inline-block;
		width: 2.2em;
		height: 1em;
	}
	
	.switch input {
		display: none;
		opacity: 0;
		width: 0;
		height: 0;
	}
	
	.slider {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #cfcfcf;
		transition: .2s;
		border-radius: 30px;
	}
	
	.slider:before {
		position: absolute;
		content: "";
		height: 0.8em;
		width: .8em;
		border-radius: 20px;
		left: 0.1rem;
		bottom: 0.1em;
		background-color: #383838;
		transition: .4s;
	}
	
	input:checked+.slider::before {
		background-color: var(--primary);
	}
	
	input:checked+.slider {
		background-color: var(--secondary-container);
	}
	
	input:focus+.slider {
		box-shadow: 0 0 1px var(--secondary-container);
	}
	
	input:checked+.slider:before {
		transform: translateX(1.3em);
	}
}