@use "../variables" as v;
@import "../mixin";

#header {
	position: sticky;
	top: 0;
	z-index: 1;
	height: var(--size_rem_8);
	transition: background-color 1s ease-in-out;
	h1{
		font-size: var(--text_size04);
	}
	.active{
		transition: color 0.5s ease-in-out;
	}
	nav{
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		.nav-menu{
			display: flex;
			column-gap: var(--size_rem_2);
		}
		.nav-link{
			font-size: var(--text_size03);
			color : var(--text_color02);
		}
	}
	.wrapper{
		display: flex;
		align-items: center;
		column-gap: var(--size_rem_1);
	}
	.global_container{
		height: 100%;
		width: 100%;
		display: flex;
		justify-content: space-between;
	}
}

#header.scrolled {
	background-color: var(--bg_color01);
	border: var(--border_color02);
	@media screen and (min-width : v.$lg-breakpoint ) {
		background-color: var(--bg_color01);

		}

}