header {
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	height: 8rem;
	transition: all .2s ease-out;
	z-index: 2;
	nav{
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: var(--stg_100);
	}
	ul {
		display: flex;
	}

	img {
		width: calc(12rem + 3vw);
	}
	.wrapper{
		cursor: pointer;
		display: flex;
		align-items: center;
		column-gap: var(--size_rem_1);
	}

	.global_container{
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: var(--stg_100);
	}

	.nav-item {
		padding: 1rem;
		cursor: pointer;
		transition: all 1s, color 0.3s;
	}

	.list-wrap {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.nav-item.active {
		p{
		color: var(--text_color03);
	}}


	.nav-btn {
		display: none;
		background: none;
		border: none;
		cursor: pointer;
		color: var(--text_color01);
	}
	p{
		font-size: 1.75rem;
	}

	@media (max-width: v.$lg_breakpoint) {
		.list-wrap {
			position: fixed;
			top: -100vh;
			left: 0;
			height: 100%;
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			transition: 1s all ease-in-out;
		}

		ul {
			display: flex;
			flex-direction: column;
			align-items: center;
			row-gap: 4rem;

			li {
				p {
					font-size: 2.8rem;
				}

			}
		}

		.responsive-nav {
			display: flex;
			flex-direction: column;
			transform: translateY(100vh);
			height: 100vh;
			z-index: 1;
			background: var(--bg_faded_color01);
		}

		.nav-btn {
			display: block;
			top: 1rem;
			right: 1rem;
		}

		.nav-close-btn {
			position: absolute;
			top: 1rem;
			right: 1rem;
		}
	}

}

header.bg_black{
	background-color: var(--bg_color01);
	border-bottom : var(--border_color01);
	height: 6rem;
}
header.bg_transparent{
	background: transparent;
}