@use "reset";
@use "variables" as v;
@import "mixin";
@import './pages/home';
@import './pages/about';
@import './pages/projects';
@import './pages/details';

@import './components/header';
@import './components/accordion';
@import './components/displaymode';
@import './components/hovereffect';
@import './components/footer';
@import './components/modal';

section {
	min-height: 50vh;
	margin-top: 10rem;
}

p {
	color: var(--text_color02);
}

strong {
	color: var((--text_color01));
	font-weight: 500;
}

h1 {
	color: var(--text_color02);
}

.btn {
	border-radius: var(--size_rem_05);
	padding: var(--btn_padding01);
	font-size: var(--text_size02);
	cursor: pointer;
}

.btn_design01 {
	background-color: var(--bg_color03);
	border: var(--border_color02);
	color: var(--text_color01);
}

.btn_validation{
	background-color: var(--bg_color04);
	border: var(--border_color04);
	color:var(--text_color02);

}
.btn_cancel{
	background-color: var(--bg_color09);
	border: var(--border_color03);
	color:var(--text_color02);
}
.btn_contact{
	background-color: var(--bg_color03);
	border: var(--border_color02);
	color: var(--text_color01);
	flex: 0 1 30%;
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: var(--size_rem_1);
}

.svg_currentColor {
	path {
		fill: var(--text_color01);
		stroke: var(--text_color01);
	}
}

.wrapper_row {
	display: flex;
	justify-content: space-between;
	column-gap: var(--size_rem_1);
}
.wrapper_title{
	display: flex;
	column-gap: var(--size_rem_2);
	align-items: center;
	justify-content: center;
	margin-left: 5rem;
	h1{
		font-size: var(--title_size01);
	}
}

.wrapper_row_simple {
	display: flex;
	column-gap: var(--size_rem_2);
}

.global_container {
	padding: 0;
	margin: 0 auto;
	max-width: 65vw;
}

.bg_color01{
	background-color: var(--bg_color01);
}
.bg_color02{
	background-color: var(--bg_color02);
}
.bg_color03{
	background-color: var(--bg_color03);
}
.bg_color04{
	background-color: var(--bg_color04);
}
.bg_color05{
	background-color: var(--bg_color05);
}
.bg_color06{
	background-color: var(--bg_color06);
}
.bg_color07{
	background-color: var(--bg_color07);
}
.bg_color08{
	background-color: var(--bg_color08);
}
.text_color01{
	color : var(--text_color01);
}
.text_color02{
	color : var(--text_color02);
}
.text_color03{
	color : var(--text_color03);
}
.text_color04{
	color : var(--text_color04);
}

