@use "reset";
@use "variables" as v;
@import "mixin";
@import './pages/home';
@import './pages/about';
@import './pages/projects';

@import './components/header';
@import './components/displaymode';

section {
	min-height: 100vh;
	margin-top: 5rem;
}

p {
	color: var(--text_color02);
}

strong {
	color: var((--text_color01));
	font-weight: 500;
}

h1{
	color : var(--text_color02);
}

.global_container {
	padding: 0;
	margin: 0 auto;
	max-width: 60vw;
}

